*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    padding: 0 6.7%;
}

.boton{
margin-top: 2%;
margin-left: 6.5%;
margin-bottom: 3%;
}

a{
    margin-top: 10%;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    background-color: #022626;
    padding: 2% 5%;
    color: white;
}
